<div class="book_comments">
    <% @book.book_comments.each do |book_comment| %>
      <p><%= attachment_image_tag book_comment.user, :profile_image, :fill, 100, 100, format: 'jpeg', fallback: "no_image.jpg" %></p>
      <%= book_comment.user.name %>
      <%= book_comment.created_at.strftime('%Y/%m/%d') %><%= book_comment.comment %>
      <% if book_comment.user == current_user %>
      <p>
        <%= link_to book_book_comment_path(book_comment.book, book_comment), method: :delete, remote: true, class:"btn btn-sm btn-danger" do %>
        Destroy
        <% end %>
      </p>
      <% end %>
    <% end %>
 </div>